	<footer>
		<div class="content-padding">
			<div class="footer-content">
				<p>Copyright &copy; Disney Inc. 2018</p>

				<div class="social-media-icons">
					<a href="#"><i class="fa fa-empire"></i></a>
					<a href="#"><i class="fa fa-rebel"></i></a>
				</div>

			</div>
		</div>
	</footer>


	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		    // for movie_single.ejs
		    (".characterItem").hover(function(){
				//$(this)document.getElementById
				$("#characterList").append('<iframe id="preveiwFrame" src="<%= currentMovie.character_links[i] %>" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>');
		    }, function(){
		        $(this).remove("#preveiwFrame");
		    });
		});
	</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
